html, body {
  background: #F2F2F0;
  font-family: "Droid Sans", sans-serif;

  a:hover {
    @include opacity(0.5);
  };
}

/*================
     Header
================*/

header {
  $header-hr-color: #fe5f25;

  padding-top: emCalc(40);

  h1 {
    font-family: Signika, sans-serif;
    font-weight: 300;
    margin-bottom: 0;

    a {
      font-size: 1.48em;
      font-weight: 700;
    }
  }

  #claim {
    font-size: emCalc(14);
  }

  .contacts {
    padding-top: emCalc(40);

    @media #{$large} {
      text-align: right;
    }
    text-align: center;

    span.icon-stack {
      margin-top: emCalc(5);
    }
  }

  hr {
    height: emCalc(3);
    border-bottom: emCalc(1) solid $header-font-color;
    border-top: emCalc(3) solid $header-font-color;
  }

  nav {
    font-family: Signika, sans-serif;
    text-align: center;
    font-size: emCalc(14);

    ul {
      li {
        display: inline;
        list-style-type: none;
        padding-right: emCalc(20);
      }
    }
  }
}

/*=================
   Main Content
=================*/

.articles {
  article {
    h2 {
      margin-bottom: 0;
    }

    h2, h3 {
      font-family: Signika, sans-serif;
      font-weight: 400;
    }

    h6 {
      margin-top: - emCalc(6);
      font-family: Signika, sans-serif;
      font-weight: 300;
    }

    .article-body {
      margin-top: emCalc(15);

      .readmore {
        a {
          font-family: Signika, sans-serif;
          font-weight: 300;
        }
      }
    }
  }

  ul.archive {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

/*===========
   Footer
===========*/

footer {
  p {
    font-family: Signika, sans-serif;
    font-size: emCalc(12);
  }
}
