/*================
     Header
================*/

header {
  padding-top: emCalc(40);
  padding-bottom: emCalc(30);

  h1 {
    font-family: Signika;
    font-weight: 300;

    a {
      font-weight: 700;
    }
  }

  .button-group a {
    font-family: Signika;
    font-weight: 400;
    margin-top: emCalc(10);
  }

  span.icon-stack {
    color: #222;
    margin-top: emCalc(5);
  }
}

/*=================
   Main Content
=================*/

article {
  h2, h3 {
    font-family: Signika;
    font-weight: 400;
  }
}

footer {
  p {
    font-family: Signika;
    font-size: emCalc(12);
  }
}
