html, body {
  background: #F2F2F0;
}

/*================
     Header
================*/

header {
  padding-top: emCalc(40);
  padding-bottom: emCalc(30);

  h1 {
    font-family: Signika, sans-serif;
    font-weight: 300;

    a {
      font-weight: 700;
    }
  }

  .button-group a {
    font-family: Signika, sans-serif;
    font-weight: 400;
    margin-top: emCalc(10);
  }

  span.icon-stack {
    color: #222;
    margin-top: emCalc(5);
  }
}

/*=================
   Main Content
=================*/

article {
  h2, h3, h5 {
    font-family: Signika, sans-serif;
    font-weight: 400;
  }
}

p {
  font-family: "Droid Sans", sans-serif;
}

/*===========
   Footer
===========*/

footer {
  p {
    font-family: Signika, sans-serif;
    font-size: emCalc(12);
  }
}
