/*================
     Header
===============*/

.nav-bar .button {
  margin-bottom: .75em;
}

/*================
     Contact
===============*/

.social i {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.social li {
  font-size: 20px;
}


/* Medium Displays: 768px - 1279px */

@media only screen and (min-width: 48em) {
  .nav-bar {
    float: right;
  }
}
