.row
  .large-10.small-10.large-offset-1.small-offset-1.columns
    %hr
    .row
      .large-5.small-3.columns
        %p © OLI-G 2013. All rights reserved.
      .large-7.small-7.columns
        %p.right
          Powered by
          %a{:href => "http://middlemanapp.com/"} Middleman
          Hosted by
          %a{:href => "http://pages.github.com/"} GitHub Pages
