.row
  .large-12.columns
    %hr
    .row
      .large-4.small-3.columns
        %p © OLI-G 2013. All rights reserved.
      .large-6.small-7.columns
        %p.right
          Powered by
          %a{:href => "http://middlemanapp.com/"} Middleman
          Hosted by
          %a{:href => "http://pages.github.com/"} GitHub Pages
