.row
  .large-10.small-10.large-offset-1.small-offset-1.columns
    %h1 
      %a{:href => "/"} OLI-G
      in da House
    .row
      .large-6.small-6.columns
        %ul.button-group
          %li
            %a.secondary.radius.button{:href => "/"} about
          %li
            %a.secondary.radius.button{:href => "/blog"} blog

      .large-6.small-6.contacts.columns
        %a{href: "http://www.linkedin.com/in/olinicola"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-linkedin.icon-light
        %a{href: "https://github.com/oli-g"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-github-alt.icon-light
        %a{href: "https://twitter.com/olinicola"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-twitter.icon-light
        %a{href: "https://plus.google.com/117661512167378134973"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-google-plus.icon-light
        %a{href: "#"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-envelope.icon-light
        %a{href: "/blog/feed.xml"}
          %span.icon-stack.icon-large.right
            %i.icon-circle.icon-stack-base
            %i.icon-rss.icon-light
    %hr
