- wrap_layout :layout do
  .row
    .large-10.small-10.large-offset-1.small-offset-1.columns.articles{role: "content"}
      = partial "partials/article", locals: { article: current_article, digest: false }
