.row
  .large-10.small-10.large-offset-1.small-offset-1.columns
    .row
      .large-8.medium-12.small-12.columns
        %h1
          %a{href: "/"} OLI-G
          indahouse
        #claim= data.site.subtitle
      .large-4.medium-6.small-9.small-centered.medium-centered.large-uncentered.contacts.columns
        %a{href: "/feed.xml"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-rss.icon-light
        %a{href: "#"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-envelope.icon-light
        %a{href: "https://plus.google.com/117661512167378134973"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-google-plus.icon-light
        %a{href: "https://twitter.com/olinicola"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-twitter.icon-light
        %a{href: "http://www.linkedin.com/in/olinicola"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-linkedin.icon-light
        %a{href: "https://github.com/oli-g"}
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-github-alt.icon-light

    %hr
    .row
      .large-7.small-7.small-centered.large-centered.columns
        %nav
          %ul
            %li
              %a{href: "/"} about
            %li
              %a{href: "/blog"} blog
            %li
              %a{href: "/archive"} archive
