---
title: About Me
---

.row
  .large-8.columns
    %h3 The Grid
    / Grid Example
    .row
      .large-12.columns
        .panel
          %p This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
    .row
      .large-6.columns
        .panel
          %p Six columns
      .large-6.columns
        .panel
          %p Six columns
    .row
      .large-4.columns
        .panel
          %p Four columns
      .large-4.columns
        .panel
          %p Four columns
      .large-4.columns
        .panel
          %p Four columns