---
title: About Me
---

.row
  .large-10.small-10.large-offset-1.small-offset-1.columns
    .row
      .large-5.columns.right{:role => "content"}
        %img{:src => lorem.image("400x240", :text => "OLI-G img"), :alt => "Placeholder Image"}

      .large-7.columns{:role => "content"}
        %p
          Hi! My name is Giannicola Olivadoti.
          I'm a 29 years old passionate software engineer, born and raised in Samarate (Milan area, Italy).

        %p
          I work with Ruby since 2010, after been bored by Java verbosity and disgusted by PHP code.
          I love to create, keeping things simple and clean
          = surround "(", ")." do
            %cite Simplicity is the ultimate sophistication

        %p
          I prefer hugs over handshakes, I love cynicism and non-sense humorism, I look for jokes in every situation, I'm hopelessly empathic.
          Of course, I love Ali-G:
          %cite
            R.E.S.T.E.C.P! Do ya even know wha it spellz?
